@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
    --primary-color: #EFB289;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    cursor: none;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

header nav {
    padding: 50px;
    z-index: 1;
    overflow-y: auto;
}

header nav a{
    z-index: 2;
    color: #E1D6C2;
    text-decoration: none;
    margin-left: 20px;
  }

header nav a:hover, .active-link{
    color: var(--primary-color);
    text-decoration: none;
}

.right-container{
  font-size: 12px;
  float:right;
}

a:link{
  color:#E1D6C2;
}

about {
  margin: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.small-text{
  color: var(--primary-color);
  font-size: 20px;
}

.large-text{
  font-family: '';
  font-size: 45px;
  font-weight: bolder;
  color: rgba(0, 0, 0, .85);
  margin-top: 35%;
  margin-bottom: 0;
}

.large-text::before{
  content: '';
  background-color: rgba(239, 178, 137, .25);
  width: 280px;
  height: 25px;
  z-index: -9998;
  display:block;
  position:absolute;
  top: 49.5%;
  left: 44.75vw;
}

.medium-text{
  font-family: '';
  font-size: 20px;
  font-weight: bolder;
  color: rgba(0, 0, 0, .35);
  align-content: left;
  text-align: left;
  justify-content: left;
  transition: color 300ms ease-in-out;
}

img.circle-image{
  height: 18vw;
  width: 18vw;
  justify-self: center;
  border-radius: 50%;
  display: inline;
  margin-top: -7%;
  margin-bottom: 2%;
  position: absolute;
  margin-left: -9.85vw;
  z-index: -9999;
}

.border {
  height: 18vw;
  width: 18vw;
  border: 6px solid rgba(239, 178, 137, .55);
  border-radius: 50%;
  color: rgba(0, 0, 0, .1);
  border-style: dashed;
  border-width: 8%;
  position:absolute;
  display: inline;
  box-sizing: border-box;
  animation: spin 5s linear infinite;
  margin-top: -7%;
  margin-left: -9.85vw;
}

#vertical-line{
  width:2px;
  height: 100px;
  background-color: rgba(0, 0, 0, .25);
  display: flex;
  text-align: center;
  margin-left: 50%;
}

.reverse-indent{
  margin-left: -6%;
}

.b1{
  background-image: 'images\b1.png';
  width: 100%;
  height: 100%;
}

.gallery {
  position: relative;
}

.large-img-text{
    color: rgba(255, 255, 255, .65);
    font-size:7vw;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    margin-top: 2%;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
    z-index: 2;
}

.small-img-text{
    color: rgba(255, 255, 255, .65);
    font-size:1vw;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    margin-top: 2%;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
    z-index: 2;
}

.medium-img-text{
    color: rgba(255, 255, 255, .45);
    font-size:1.75vw;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    margin-top: 12%;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
    z-index: 2;
}

.medium-img-hover-text{
  color: rgba(255, 255, 255, .45);
  font-size:1.25vw;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  margin-top: 25%;
  margin-left: 3.5vw;
  margin-right: 3.5vw;
  z-index: 2;
  transition: all 2s;
  text-decoration: none;
}

.gallery-top {
  margin-top: 80px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.gallery-bottom{
  margin-top: -10px;
  text-align: left;
  display: flex;
  justify-content: flex-start;
}

.black-text{
  color: rgba(0, 0, 0, .45);
}

.white-text{
  margin-top: 30%;
}

.social-menu{
  width: 600px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, -20%);
  padding-top: 2%;
}

.social-menu>a{
  display:inline-flex;
  text-decoration: none;
  color: rgba(239, 178, 137, .55);
  border: 1px solid rgba(239, 178, 137, .55);
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15pt;
  justify-content: center;
  width: 40px;
  height: 40px;
  align-items: center;
  border-radius: 15px;
  transition: 0.2s;
}

.social-menu>a>i{
  transition: 0.8s;
}

.social-menu>a:hover{
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, .95);
  border: 1px solid rgba(252, 186, 203, .55);
  color: rgba(252, 186, 203, .25);
  box-shadow: 0 0 10px rgba(239, 178, 137, .55), 0 0 40px rgba(239, 178, 137, .55), 0 0 80px rgba(239, 178, 137, .55);
}

.social-menu>a:hover>i{
  transform: rotate(15deg) scale(1.2);
}

.hover-this{
  transition: all 0.3s ease;
}

.cursor{
  pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: rgba(240, 240, 240, .95);
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.3s ease;
  z-index: 9999;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}